* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}
header a,
.p-6 h2,
.p-6 h1,
.p-6 p,
.p-6 span {
  color: rgba(255, 255, 255, 0.818) !important;
}
.MuiPaper-root {
  background-color: white;
}
.comment-input {
  background-color: #f3f2f2 !important;
  border: none !important;
  padding: 8px 10px;
  padding-right: 80px !important;
  width: 100%;
  border: 2px solid black !important;
  border-radius: 7px;
}
.comments .btn-primary {
  color: #0a58ca;
}
.comments .btn-primary:hover {
  color: white;
}

header a:hover {
  color: white !important;
}
.dropdown-menu {
  background-color: white;
}
.dropdown-menu.show {
  background-color: white;
}
.dropdown-divider {
  background-color: white;
}
.dropdown-item {
  background-color: white;
  color: black !important;
}
.dropdown-item:hover {
  background-color: rgb(99 102 241 / var(--tw-text-opacity));
}
i {
  cursor: pointer;
}
.logout {
  position: relative;
  float: right;
  margin-bottom: 10px;
  width: 85px;
  background-color: black;
  color: white;
  font-size: 17px;
  border: 0px;
  border-radius: 6px;
  padding: 2px 5px;
}
.logSign {
  width: 500px;
  min-width: 280px;
  border: 1px solid lightgray;
  padding: 50px;
  border-radius: 10px;
  margin-top: 70px;
}
.login {
  width: 180px;
  margin-left: 5px;
}
.signup {
  width: 180px;
  margin-left: 25px;
}
.logSign h1 {
  text-align: center;
}
.logSign label {
  font-size: 20px;
  margin-bottom: -10px !important;
}
.btn-success {
  color: #157347;
}
@media (max-width: 550px) {
  .buttonContainer {
    display: flex;
    flex-direction: column;
  }
  .logSign {
    width: 100%;
    padding: 10px;
  }
  .login {
    width: 80%;
    margin: auto;
  }
  .signup {
    width: 80%;
    margin: auto;
  }
}

.blog-post {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.all-blogs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.MuiCard-root{
  margin-bottom: 30px;
}

.MuiCardMedia-img{
  min-height: 250px;
  max-height: 250px;
}

.blog-author, .blog-category{
  margin-right: auto !important;
  text-decoration: none !important;
}